In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/home/user_3/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
df = pd.read_json('/fastcampus-data/users/users.json', lines=True)

# 한글 컬럼명 변경
df.columns = ['realname_sha_id', 'customer_id', 'age_group', 'docter', 'buisnessman']

In [4]:
df.head()

,realname_sha_id,customer_id,age_group,docter,buisnessman
0,4ce68f6f3b61e0900936889d56369b826e42b83a432497...,5d60cefc4e77525ec5ca1426,30-39,1,1
1,99600209b7900c50c9d79c22f858b2a21d1181a230172e...,5d689c3019efa30eb2913d7c,30-39,1,1
2,f7689e65284f958a7566653eaa32615227e904bdd7a6b4...,5d6ca7cd19efa30eb2913e7e,20-29,1,1
3,b91127b7b25f4fe8ae843076298cd08f026977d63c5c89...,5d6f43e919efa30eb2913f97,40-49,1,1
4,d0af532d80ee4144f6e0120bf4c70025e0337102f64a34...,5d6f5fb319efa30eb2913fac,30-39,1,1

In [44]:
df.age_group.value_counts()

20-29    5063
30-39    4843
40-49    2423
50-59    1025
60-       159
10-19       3
0-9         2
Name: age_group, dtype: int64

In [21]:
df.docter.value_counts()

1    15308
0     5204
Name: docter, dtype: int64

In [22]:
df.buisnessman.value_counts()

0    14267
1     6245
Name: buisnessman, dtype: int64

총 20512 개 \
realname_sha_id.unique 수 : 18814명 \
ex) 의사되기전 의사된 후

|    column     | 설명      |결측치 |전처리 |   type |  
|:--------------|:---------|----:|----:|----:|
|realname_sha_id|  실명     |   0  |    x  |    str |
|customer_id    |   아이디   |    6 |    x  | str    |
|age_group      |   연령대   |   6994  |  x    |  str(median은 int)  |
|docter         | 의사 여부  |    0 |    x  |   int(0,1)  |
|buisnessman    |사업자 여부  |    0 |    x  |   int(0,1)  |